p {
  font-size: 20px;
  font-weight: bold;
}

button {
  margin: 10px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 4px;
}

.increment {
  background-color: green;
  color: white;
}

.decrement {
  background-color: red;
  color: white;
}

.h4class {
  background-color: brown;
  color: white;
}

.h4function {
  background-color: blueviolet;
  color: white;
}
